---
import { Image } from "astro:assets";
import TH08Frame from "../assets/images/TH08_frame.webp";
---

<script>
	const circleAnimationsCollector = document.querySelectorAll(
		"[data-animation='circle']"
	);
	let circleAnimations = Array.from(circleAnimationsCollector).filter(
		(circleAnimation) => circleAnimation.clientWidth != 0
	);

	// Keep videos from looping
	circleAnimations.forEach((circleAnimation) => {
		circleAnimation.addEventListener("timeupdate", () => {
			if (circleAnimation.currentTime >= circleAnimation.duration - 0.5) {
				circleAnimation.pause();
				circleAnimation.currentTime = circleAnimation.duration - 0.5;
			}
		});
	});

	function playAnimation(circleAnimation, wait) {
		circleAnimation.pause();
		circleAnimation.currentTime = 0;

		circleAnimation.classList.remove("opacity-0");
		circleAnimation.classList.add("opacity-100");

		circleAnimation.play();

		setTimeout(() => {
			circleAnimation.classList.remove("opacity-100");
			circleAnimation.classList.add("opacity-0");
			circleAnimation.pause();
			circleAnimation.currentTime = 0;
		}, wait);
	}

	let playingCircleAnimations = new Set();

	function playRandomAnimation() {
		let availableCircleAnimations = circleAnimations.filter(
			(animation) => !playingCircleAnimations.has(animation)
		);

		if (availableCircleAnimations.length) {
			let randomCircleAnimation =
				availableCircleAnimations[
					Math.floor(Math.random() * availableCircleAnimations.length)
				];

			playingCircleAnimations.add(randomCircleAnimation);
			playAnimation(randomCircleAnimation, 10500);

			setTimeout(() => {
				playingCircleAnimations.delete(randomCircleAnimation);
			}, 10500);
		}
	}
	playRandomAnimation();

	let runningAnimation;
	clearInterval(runningAnimation);
	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				runningAnimation = setInterval(playRandomAnimation, 6000);
			} else {
				playingCircleAnimations.forEach((circleAnimation) => {
					circleAnimation.pause();
					circleAnimation.currentTime = 0;
				});

				clearInterval(runningAnimation);
			}
		});
	});
	observer.observe(document.querySelector("#hero"));

	// Debounce the resize event
	let resizeTimeout;
	window.addEventListener("resize", () => {
		clearTimeout(resizeTimeout);
		resizeTimeout = setTimeout(() => {
			circleAnimations = Array.from(circleAnimationsCollector).filter(
				(circleAnimation) => circleAnimation.clientWidth != 0
			);
		}, 500);
	});
</script>

<section
	style="background: radial-gradient(
	#f5f5f5 0%, 
	rgba(245, 245, 245, 0.96) 10%, 
	rgba(245, 245, 245, 0.94) 20%,
	rgba(245, 245, 245, 0.87) 30%, 
	rgba(245, 245, 245, 0.71) 70%, 
	rgba(245, 245, 245, 0) 100%) 
	center center / cover no-repeat, url(/cc_hero.webp) center center / cover no-repeat"
	class="w-full h-screen flex justify-center items-center"
	id="hero"
>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
		<div
			class="block w-auto h-[45vh] md:h-[35vh] lg:h-[25vh] aspect-square relative"
		>
			<Image
				src={TH08Frame}
				alt="TH08 Frame"
				class="w-full h-full absolute z-20"
			/>
			<video
				autoplay
				data-animation="circle"
				src="/TH_circle-animation.webm"
				class="w-[90%] h-[90%] absolute z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity"
			>
				<source src="/TH_circle-animation.webm" type="video/webm" />
			</video>
		</div>
		<div
			class="hidden md:block w-auto md:h-[35vh] lg:h-[25vh] aspect-square relative"
		>
			<Image
				src={TH08Frame}
				alt="TH08 Frame"
				class="w-full h-full absolute z-20"
			/>
			<video
				autoplay
				data-animation="circle"
				class="w-[90%] h-[90%] absolute z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity"
			>
				<source src="/TH_circle-animation.webm" type="video/webm" />
			</video>
		</div>
		<div
			class="hidden md:block w-auto md:h-[35vh] lg:h-[25vh] aspect-square relative"
		>
			<Image
				src={TH08Frame}
				alt="TH08 Frame"
				class="w-full h-full absolute z-20"
			/>
			<video
				autoplay
				data-animation="circle"
				class="w-[90%] h-[90%] absolute z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity"
			>
				<source src="/TH_circle-animation.webm" type="video/webm" />
			</video>
		</div>
		<div
			class="hidden md:block w-auto md:h-[35vh] lg:h-[25vh] aspect-square relative"
		>
			<Image
				src={TH08Frame}
				alt="TH08 Frame"
				class="w-full h-full absolute z-20"
			/>
			<video
				autoplay
				data-animation="circle"
				class="w-[90%] h-[90%] absolute z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity"
			>
				<source src="/TH_circle-animation.webm" type="video/webm" />
			</video>
		</div>
		<div class="hidden lg:block w-auto lg:h-[25vh] aspect-square relative">
			<Image
				src={TH08Frame}
				alt="TH08 Frame"
				class="w-full h-full absolute z-20"
			/>
			<video
				data-animation="circle"
				class="w-[90%] h-[90%] absolute z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity"
			>
				<source src="/TH_circle-animation.webm" type="video/webm" />
			</video>
		</div>
		<div class="hidden lg:block w-auto h-[25vh] aspect-square relative">
			<Image
				src={TH08Frame}
				alt="TH08 Frame"
				class="w-full h-full absolute z-20"
			/>
			<video
				autoplay
				data-animation="circle"
				class="w-[90%] h-[90%] absolute z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity"
			>
				<source src="/TH_circle-animation.webm" type="video/webm" />
			</video>
		</div>
		<div class="hidden lg:block w-auto h-[25vh] aspect-square relative">
			<Image
				src={TH08Frame}
				alt="TH08 Frame"
				class="w-full h-full absolute z-20"
			/>
			<video
				autoplay
				data-animation="circle"
				class="w-[90%] h-[90%] absolute z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity"
			>
				<source src="/TH_circle-animation.webm" type="video/webm" />
			</video>
		</div>
		<div class="hidden lg:block w-auto h-[25vh] aspect-square relative">
			<Image
				src={TH08Frame}
				alt="TH08 Frame"
				class="w-full h-full absolute z-20"
			/>
			<video
				autoplay
				data-animation="circle"
				class="w-[90%] h-[90%] absolute z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity"
			>
				<source src="/TH_circle-animation.webm" type="video/webm" />
			</video>
		</div>
		<div class="hidden lg:block w-auto h-[25vh] aspect-square relative">
			<Image
				src={TH08Frame}
				alt="TH08 Frame"
				class="w-full h-full absolute z-20"
			/>
			<video
				autoplay
				data-animation="circle"
				class="w-[90%] h-[90%] absolute z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity"
			>
				<source src="/TH_circle-animation.webm" type="video/webm" />
			</video>
		</div>
	</div>
</section>

<style></style>
